@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("../assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Soulcraft";
  src: url("../assets/fonts/Soulcraft-Regular.woff2") format("woff2"),
    url("../assets/fonts/Soulcraft-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
