@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope-regular.woff2") format("woff2"),
    url("../assets/fonts/manrope-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope-bold.woff2") format("woff2"),
    url("../assets/fonts/manrope-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
