* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}


body {
  padding-top: $navbar-height;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  letter-spacing: -0.15px;
  max-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

h1 {
  margin: 3.75rem 0;
  font-size: 3.75rem;
  text-align: center;
}

//links
a {
  color: $primary;
  text-decoration: none;
  transition: .25s ease-in-out;
  background-color: transparent;

  &:focus {
    outline: none;
    background-color: $gray-light;
    border-radius: .5rem;
  }
}

a .lab {
  color: $dark;
}

a.link-arrow {
  display: block;

  &::after {
    content: '→';
    padding-left: .5rem;
    transition: .25s ease-in-out;
  }

  &:hover::after {
    text-decoration: none;
    color: $primary;
    padding-left: 1rem;
  }

  &:hover {
    text-decoration: none;
  }
}

//UI
.button-def {
  border: none;
  background: transparent;
  padding: 0;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 3.25rem;
  width: 3.25rem;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  border-radius: 100%;
  border: 2px solid transparent;
  line-height: 0;
  font-size: 2.25rem;
  color: $dark;

  &:hover, &:focus {
    outline: none;
    background-color: $gray-light;
    border-radius: 100%;
    text-decoration: none;
  }

  &-sm {
    font-size: 1.5rem;
    height: 2.1rem;
    width: 2.1rem;
  }
}

a.button {
  color: $dark;
}

.tooltip-moad {
  margin-bottom: .25rem;

  .tooltip-inner {
    color: $body-color;
    background-color: $white;
    border-radius: 0;
    border: 1.25px solid $body-color;
  }

  .arrow {
    display: none;
  }
  
  .arrow::before {
    border-top-color: transparent;
  }
}


@include media-breakpoint-down(md) {
  h1 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }
}

//animations 

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: opacity .5s ease-out, transform .25s ease-out;
}
.slide-enter, .slide-leave-active {
  transform: translateX(20px);
  opacity: 0;
}

/* Modal controls */

.modal-controls-lg {
  width: 100%;
  position: fixed;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 1.5rem;
  }

  i {
    font-size: 1.25rem;
  }
}

.modal-controls-sm {
display: none;
}



@include media-breakpoint-down(md) {
  .modal-controls-lg {
    display: none;
  }

  .modal-controls-sm {
    width: 100%;
    position: fixed;
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    background: white;
    text-align: center;

    .button {
      padding-bottom: 4rem;
    }
  }
}

