* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}


body {
  padding-top: $navbar-height;
}

p {
  line-height: 1.5;
  letter-spacing: -0.15px;
  max-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

h1 {
  font-weight: bold;
  margin: 3.75rem 0;
  font-size: 3.75rem;
}

//links
a {
  color: $primary;
  text-decoration: none;
  transition: .25s ease-in-out;
}

a.link-arrow {
  
  display: block;

  &::after {
    content: '→';
    padding-left: .5rem;
    transition: .25s ease-in-out;
  }

  &:hover::after {
    text-decoration: none;
    color: $primary;
    padding-left: 1rem;
  }
}



