html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  padding-top: $navbar-height;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
  font-weight: bold;
}
